In [9]:
# 1.Kütüphaneleri yüklüyoruz.
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
# 2.Veri setini içeri aktarıyoruz.
df = pd.read_csv('houses_Madrid.csv')

In [12]:
# 3. Veri setinin kaç satır kaç sütundan oluştuğuna bakalım.
df.size

1261036

In [15]:
df.shape

(21742, 58)

In [14]:
df.info
# veri seti ile ilgili bilgi verir.

<bound method DataFrame.info of        Unnamed: 0     id                                              title  \
0               0  21742              Piso en venta en calle de Godella, 64
1               1  21741   Piso en venta en calle de la del Manojo de Rosas
2               2  21740               Piso en venta en calle del Talco, 68
3               3  21739               Piso en venta en calle Pedro Jiménez
4               4  21738  Piso en venta en carretera de Villaverde a Val...
...           ...    ...                                                ...
21737       21737      5       Ático en venta en Casco Histórico de Barajas
21738       21738      4  Piso en venta en Urb. Campo de las Naciones - ...
21739       21739      3  Piso en venta en Campo de las Naciones-Corralejos
21740       21740      2      Chalet adosado en venta en calle Burriana, 12
21741       21741      1             Piso en venta en calle San Epifanio, 9

                                       subtitle  sq_mt_built  sq_mt_useful  \
0                         San Cristóbal, Madrid         64.0          60.0
1                           Los Ángeles, Madrid         70.0           NaN
2                            San Andrés, Madrid         94.0          54.0
3                            San Andrés, Madrid         64.0           NaN
4                           Los Rosales, Madrid        108.0          90.0
...                                         ...          ...           ...
21737                           Barajas, Madrid         78.0           NaN
21738                           Barajas, Madrid         96.0          83.0
21739                           Barajas, Madrid        175.0           NaN
21740  Campo de las Naciones-Corralejos, Madrid        289.0           NaN
21741                          Imperial, Madrid         72.0           NaN

       n_rooms  n_bathrooms  n_floors  sq_mt_allotment  ...  \
0            2          1.0       NaN              NaN  ...
1            3          1.0       NaN              NaN  ...
2            2          2.0       NaN              NaN  ...
3            2          1.0       NaN              NaN  ...
4            2          2.0       NaN              NaN  ...
...        ...          ...       ...              ...  ...
21737        2          2.0       NaN              NaN  ...
21738        2          2.0       NaN              NaN  ...
21739        4          2.0       NaN              NaN  ...
21740        4          3.0       3.0            304.0  ...
21741        2          2.0       NaN              NaN  ...

       energy_certificate  has_parking has_private_parking  \
0                       D        False                 NaN
1              en trámite        False                 NaN
2             no indicado        False                 NaN
3              en trámite        False                 NaN
4              en trámite         True                 NaN
...                   ...          ...                 ...
21737          en trámite         True                 NaN
21738          en trámite         True                 NaN
21739                   E         True                 NaN
21740          en trámite         True                 NaN
21741                   A         True                 NaN

       has_public_parking is_parking_included_in_price parking_price  \
0                     NaN                          NaN           NaN
1                     NaN                          NaN           NaN
2                     NaN                          NaN           NaN
3                     NaN                          NaN           NaN
4                     NaN                         True           0.0
...                   ...                          ...           ...
21737                 NaN                         True           0.0
21738                 NaN                         True           0.0
21739                 NaN                         True           0.0
21740                 NaN                         True           0.0
21741                 NaN                         True           0.0

       is_orientation_north is_orientation_west is_orientation_south  \
0                     False                True                False
1                       NaN                 NaN                  NaN
2                       NaN                 NaN                  NaN
3                     False               False                 True
4                      True                True                 True
...                     ...                 ...                  ...
21737                   NaN                 NaN                  NaN
21738                 False                True                 True
21739                   NaN                 NaN                  NaN
21740                 False               False                 True
21741                   NaN                 NaN                  NaN

       is_orientation_east
0                    False
1                      NaN
2                      NaN
3                    False
4                     True
...                    ...
21737                  NaN
21738                 True
21739                  NaN
21740                False
21741                  NaN

[21742 rows x 58 columns]>

In [13]:
# toplam boş değerler hangisi
df.isnull().sum()

Unnamed: 0                          0
id                                  0
title                               0
subtitle                            0
sq_mt_built                       126
sq_mt_useful                    13514
n_rooms                             0
n_bathrooms                        16
n_floors                        20305
sq_mt_allotment                 20310
latitude                        21742
longitude                       21742
raw_address                      5465
is_exact_address_hidden             0
street_name                      5905
street_number                   15442
portal                          21742
floor                            2607
is_floor_under                   1170
door                            21742
neighborhood_id                     0
operation                           0
rent_price                          0
rent_price_by_area              21742
is_rent_price_known                 0
buy_price                           0
buy_price_by_area                   0
is_buy_price_known                  0
house_type_id                     391
is_renewal_needed                   0
is_new_development                992
built_year                      11742
has_central_heating              8134
has_individual_heating           8134
are_pets_allowed                21742
has_ac                          10531
has_fitted_wardrobes             8343
has_lift                         2386
is_exterior                      3043
has_garden                      20186
has_pool                        16571
has_terrace                     12194
has_balcony                     18421
has_storage_room                14044
is_furnished                    21742
is_kitchen_equipped             21742
is_accessible                   17668
has_green_zones                 17685
energy_certificate                  0
has_parking                         0
has_private_parking             21742
has_public_parking              21742
is_parking_included_in_price    14023
parking_price                   14023
is_orientation_north            10384
is_orientation_west             10384
is_orientation_south            10384
is_orientation_east             10384
dtype: int64

In [18]:
df["door"].info()
# çok fazla null değere

<class 'pandas.core.series.Series'>
RangeIndex: 21742 entries, 0 to 21741
Series name: door
Non-Null Count  Dtype
--------------  -----
0 non-null      float64
dtypes: float64(1)
memory usage: 170.0 KB