In [13]:
import pandas as pd

In [8]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [11]:
df=pd.DataFrame(liste,columns=["veri1"])
df

  veri1
0     1
1     2
2     3
3     a
4     b
5     c

In [15]:
#İlk önce numpy ile rastgele bir dizi oluşturalım 
import numpy as np 
veri=np.random.randint(1,100,([3,3]))
veri

array([[26,  7, 62],
       [36, 23, 99],
       [35, 10, 27]])

In [17]:
df1=pd.DataFrame(veri,index=["satır1","satır2","satır3"],columns=["sütun1","sütun2","sütun3"])
df1

        sütun1  sütun2  sütun3
satır1      26       7      62
satır2      36      23      99
satır3      35      10      27

In [18]:
veri=[["İlayda","Daban",1550],["Rukiye","Balı",1533]]
veri

[['İlayda', 'Daban', 1550], ['Rukiye', 'Balı', 1533]]

In [20]:
df2=pd.DataFrame(veri,index=["Öğrenci1","Öğrenci2"],columns=["Ad","Soyad","Yaş"])sssssss
df2

              Ad  Soyad   Yaş
Öğrenci1  İlayda  Daban  1550
Öğrenci2  Rukiye   Balı  1533

In [22]:
df2.info() # data frame deki içindeki verileri verir

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Öğrenci1 to Öğrenci2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ad      2 non-null      object
 1   Soyad   2 non-null      object
 2   Yaş     2 non-null      int64
dtypes: int64(1), object(2)
memory usage: 64.0+ bytes

In [23]:
df2.axes # satır ve sütun bilgilerini verir

[Index(['Öğrenci1', 'Öğrenci2'], dtype='object'),
 Index(['Ad', 'Soyad', 'Yaş'], dtype='object')]